node_modules/
dist/
showcase/
.next/
*.tgz
storybook-static

.vercel
storybook-static/
.design-sync/sb-reference/
.design-sync/learnings/
.design-sync/.cache/
.design-sync/node_modules
.design-sync/*.log
.ds-sync/
ds-bundle/
